mixin pagination(page)
    -let pages = ['index.html','Home-2.html','Home-3.html']
    -let countPage = 1; 
    .pagination
        if page === 'index.html'
            each item in pages
                if item === page 
                    a(href=`./${item}` class='pagination-number pagination-number--active')   
                        span= countPage++
                else
                    a(href=`./${item}` class='pagination-number')           
                        span= countPage++
            a(href="./test-2.html" class='pagination-number')   
                span(class="fas fa-angle-right") 
        if page === 'Home-2.html'
            a(href="./index.html" class='pagination-number')   
                span(class="fas fa-angle-left")
            each item in pages 
                if item === page 
                    a(href=`./${item}` class='pagination-number pagination-number--active')   
                        span= countPage++
                else
                    a(href=`./${item}` class='pagination-number')           
                        span= countPage++
            a(href="./Home-3.html" class='pagination-number')   
                span(class="fas fa-angle-right") 
        if page === 'Home-3.html'
            a(href="./Home-2.html" class='pagination-number')   
                span(class="fas fa-angle-left") 
            each item in pages
                if item === page 
                    a(href=`./${item}` class='pagination-number pagination-number--active')   
                        span= countPage++
                else
                    a(href=`./${item}` class='pagination-number')           
                        span= countPage++



