extends ./layout/main
block banner
    .banner
        - const bannerModify= ['banner__img','banner__img--main']
        div(class=bannerModify)
        .banner__overlay
        .banner__fold--left
        .banner__fold--right
        .banner-text
            .banner-text__left
                img(src="./images/banner-left-1.png", class="blur-effect" alt="")
                img(src="./images/banner-left-2.png", class="blur-effect" alt="")
                img(src="./images/banner-left-3.png", class="blur-effect" alt="")
            .banner-text__right
                h4 10 Stereoty pes That Aren’t ALWAYS TRUE
                h5 
                    | what is host this
                    br
                    | season
block lastest
    .lastest
        .title-parten
            h4 lasttest-post
        .lastest-container
             .row
                -const lastestCard = ['col-lg-6','col-md-6','col-sm-6','col-12']
                div(class=lastestCard)
                    .card
                        .card-img
                            img( class="lazy-img" src=".lazy.jpg" data-src ="./images/lastest-page-3-1.jpg" , alt="watting")
                            .block
                                h4.block-inner fashion
                        .card-text
                            a(href="#" class="text-siver underline-effect") Where to Find the Greatest Inspiration
                            .card-text__dsc  
                                span.update-year
                                span.comment 2 comments
                div(class=lastestCard)
                    .card
                        .card-img
                            img( class="lazy-img" src=".lazy.jpg" data-src ="./images/lastest-page-3-2.jpg" , alt="watting")
                            .block
                                h4.block-inner liftstyle
                        .card-text
                            a(href="#" class="text-siver underline-effect") Where to Find the Greatest Inspiration
                            .card-text__dsc  
                                span.update-year
                                span.comment 2 comments
                div(class=lastestCard)
                    .card
                        .card-img
                            img( class="lazy-img" src=".lazy.jpg" data-src ="./images/lastest-page-3-3.jpg" , alt="watting")
                            .block
                                h4.block-inner food
                        .card-text
                            a(href="#" class="text-siver underline-effect") Where to Find the Greatest Inspiration
                            .card-text__dsc  
                                span.update-year
                                span.comment 2 comments
                div(class=lastestCard)
                    .card
                        .card-img
                            img( class="lazy-img" src=".lazy.jpg" data-src ="./images/lastest-page-3-4.jpg" , alt="watting")
                            .block
                                h4.block-inner travel
                        .card-text
                            a(href="#" class="text-siver underline-effect") Where to Find the Greatest Inspiration
                            .card-text__dsc  
                                span.update-year
                                span.comment 2 comments
                div(class=lastestCard)
                    .card
                        .card-img
                            img( class="lazy-img" src=".lazy.jpg" data-src ="./images/lastest-page-3-5.jpg" , alt="watting")
                            .block
                                h4.block-inner lifestyle
                        .card-text
                            a(href="#" class="text-siver underline-effect") Where to Find the Greatest Inspiration
                            .card-text__dsc  
                                span.update-year
                                span.comment 2 comments
                div(class=lastestCard)
                    .card
                        .card-img
                            img( class="lazy-img" src=".lazy.jpg" data-src ="./images/lastest-page-3-6.jpg" , alt="watting")
                            .block
                                h4.block-inner travel
                        .card-text
                            a(href="#" class="text-siver underline-effect") Where to Find the Greatest Inspiration
                            .card-text__dsc  
                                span.update-year
                                span.comment 2 comments
                div(class=lastestCard)
                    .card
                        .card-img
                            img( class="lazy-img" src=".lazy.jpg" data-src ="./images/lastest-page-3-7.jpg" , alt="watting")
                            .block
                                h4.block-inner design
                        .card-text
                            a(href="#" class="text-siver underline-effect") Where to Find the Greatest Inspiration
                            .card-text__dsc  
                                span.update-year
                                span.comment 2 comments
                div(class=lastestCard)
                    .card
                        .card-img
                            img( class="lazy-img" src=".lazy.jpg" data-src ="./images/lastest-page-3-8.jpg" , alt="watting")
                            .block
                                h4.block-inner food
                        .card-text
                            a(href="#" class="text-siver underline-effect") Where to Find the Greatest Inspiration
                            .card-text__dsc  
                                span.update-year
                                span.comment 2 comments

block pagination 
    .pagination
        a(href="./home-2.html" class='pagination-number')   
            span(class="fas fa-angle-left") 
        a(href="./home.html" class='pagination-number ')   
            span 1
        a(href="./home-2.html" class='pagination-number ')           
            span 2
        a(href="#" class='pagination-number pagination-number--active')          
            span 3